@media screen and (min-width: 1440px) {
    * {
        margin: 0px;
    }

    .innerWidth {
        padding-left: max(calc(50% - 720px), 0px);
        padding-right: max(calc(50% - 720px), 0px);
    }
}

@media screen and (min-width: 1441px) {

    .basket,
    .emptyBasket {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

@media screen and (max-width: 1440px) {
    .bannerBackground {
        position: absolute;
        left: 0;

        margin-left: 0;
        width: calc(100vw + calc((100vw - 100vw) / 2));
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .buyNowBtn {
        width: 180px;
    }

    .addedDishWrapper {
        width: 200px;
    }

    .addedDish {
        width: 180px;
    }

    .basket,
    .emptyBasket {
        width: 250px;
    }

    .dish>img {
        width: 100px;
        height: 60px;
    }

    .priceWrapper {
        width: 180px;
    }

    .dish {
        width: 480px;
        align-items: center;
    }

    .dishCategory {
        margin-left: -96px;
        width: 503px;
    }

    .dishText h3 {
        line-height: 1.2;
    }

    .dishText h4 {
        line-height: 1;
    }

    .dishText {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .bannerBackground {
        margin-left: 96px;
    }

    .catTitle {
        width: 450px;
        line-height: 1;
        white-space: nowrap;
        margin-left: 220px;
    }

    .catIcon {
        margin-left: -32px;
    }
}

@media screen and (min-width: 851px) and (max-width: 920px) {
    .buyNowBtn {
        width: 230px;
    }

    .addedDishWrapper {
        width: 250px;
    }

    .addedDish {
        width: 230px;
    }

    .basket,
    .emptyBasket {
        width: 300px;
    }

    .dish>img {
        width: 100px;
        height: 60px;
    }

    .priceWrapper {
        width: 230px;
    }

    .dish {
        width: 480px;
        align-items: center;
    }

    .dishCategory {
        margin-left: -96px;
        width: 503px;
    }

    .dishText h3 {
        line-height: 1.2;
    }

    .dishText h4 {
        line-height: 1;
    }

    .dishText {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .bannerBackground {
        margin-left: 96px;
    }

    .catTitle {
        width: 450px;
        line-height: 1;
        white-space: nowrap;
        margin-left: 220px;
    }

    .catIcon {
        margin-left: -32px;
    }
}

@media screen and (min-width: 921px) and (max-width: 1050px) {
    .buyNowBtn {
        width: 230px;
    }

    .addedDishWrapper {
        width: 250px;
    }

    .addedDish {
        width: 230px;
    }

    .basket,
    .emptyBasket {
        width: 300px;
    }

    .dish>img {
        width: 120px;
        height: 72px;
    }

    .priceWrapper {
        width: 230px;
    }

    .dish {
        width: 580px;
        align-items: center;
    }

    .dishCategory {
        margin-left: -96px;
        width: 680px;
    }

    .dishText h3 {
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .dishText h4 {
        line-height: 1.2;
    }

    .dishText {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }

    .bannerBackground {
        margin-left: 96px;
    }

    .catTitle {
        width: 450px;
        line-height: 1;
        white-space: nowrap;
        margin-left: 220px;
    }

    .catIcon {
        margin-left: -32px;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1150px) {
    .buyNowBtn {
        width: 350px;
    }

    .addedDishWrapper {
        width: 350px;
    }

    .addedDish {
        width: 350px;
    }

    .basket,
    .emptyBasket {
        width: 400px;
    }

    .dish>img {
        width: 120px;
        height: 72px;
    }

    .priceWrapper {
        width: 350px;
    }

    .dish {
        width: 580px;
        align-items: center;
    }

    .dishCategory {
        margin-left: -96px;
        width: 680px;
    }

    .dishText h3 {
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .dishText h4 {
        line-height: 1.2;
    }

    .dishText {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }

    .bannerBackground {
        margin-left: 96px;
    }

    .catTitle {
        width: 450px;
        line-height: 1;
        white-space: nowrap;
        margin-left: 220px;
    }

    .catIcon {
        margin-left: -32px;
    }
}

@media screen and (min-width: 1151px) and (max-width: 1279px) {
    .buyNowBtn {
        width: 350px;
    }

    .addedDishWrapper {
        width: 350px;
    }

    .addedDish {
        width: 350px;
    }

    .basket,
    .emptyBasket {
        width: 400px;
    }

    .dish>img {
        width: 200px;
        height: 120px;
    }

    .priceWrapper {
        width: 350px;
    }

    .dish {
        width: 720px;
        align-items: center;
    }

    .dishCategory {
        margin-left: -96px;
        width: 820px;
    }

    .dishText h3 {
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .dishText h4 {
        line-height: 1.2;
    }

    .dishText {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }

    .bannerBackground {
        margin-left: 96px;
    }

    .catTitle {
        width: 450px;
        line-height: 1;
        white-space: nowrap;
        margin-left: 220px;
    }

    .catIcon {
        margin-left: -32px;
    }
}

@media screen and (max-width: 768px) {

    .basket,
    .emptyBasket {
        display: none;
    }

    .headerBurgerMenu {
        display: none;
    }

    .headerLogo {
        margin-left: 16px;
    }

    nav {
        min-height: 80px;
        height: 80px;
    }

    .hero {
        padding: 16px;
        border-radius: 32px;
    }

    .restaurantLogo {
        width: 170px;
        height: 170px;
    }

    .titleWrapper {
        flex-direction: column-reverse;
        gap: 0px;
        margin-top: 48px;
    }

    .restaurantTitle h2 {
        margin: 0px 32px;
        text-align: center;
        line-height: 1.2;
    }

    .catTitle {
        display: none;
    }

    .catMobileTitle {
        display: flex;

        margin-left: 0;
        font-size: 32px;
    }

    .bannerBackground {
        margin-left: 96px;
    }

    .dishes {
        width: 90%;
        margin-left: 0px;
        margin-top: 64px;
    }

    .dish {
        width: 100%;

        flex-direction: column;
        align-items: center;
    }

    .dishCategory {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bannerBackground {
        display: none;
    }

    .bannerWrapper {
        width: 100%;
    }

    .catBanner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catIcon {
        left: unset;
        bottom: -20px;

        width: 60px;
        height: 60px;

    }

    .catTitleWrapper {
        justify-content: center;
    }

    .dishTextWrapper {
        flex-direction: column;
        align-items: center;
    }

    .dishText {
        width: 95%;
        line-height: 1.2;
    }

    .dishInteraction {
        flex-direction: row;
        width: 95%;
    }

    .dish img {
        width: 100%;
        padding: 8px;
        object-fit: cover;
        height: 150px;
        border-radius: 20px;
    }

    .pageFooter {
        display: none;
    }

    .mobilePageFooter {
        display: flex;
        flex-direction: column;
        gap: 8px;
        line-height: 1.2;
        margin-bottom: 78px;
    }

    .basket,
    .emptyBasket {
        display: none;
        position: fixed;
        margin-top: 0;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        height: calc(100dvh - 78px);

        left: 50%;
        transform: translateX(-50%);

    }
}

.hidden {
    display: none;
}

.flex-visible {
    display: flex;
}