@media screen and (min-width: 1440px) {
    * {
        margin: 0px;
    }

    .innerWidth {
        padding-left: max(calc(50% - 720px), 0px);
        padding-right: max(calc(50% - 720px), 0px);
    }

    .basket {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}