/* Restaurant Info: */
/* ------------------------------------------ */
.restaurantInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -32px;
}

.hero {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom center;
}

.heroFrame {
    height: 440px;
    width: 100%;
    overflow: hidden;
}

.restaurantLogo {
    width: 200px;
    height: 200px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 440px;
}

.restaurantTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
}

.titleHighlight {
    color: #E76C1F;
}

.restaurantInfo h1 {
    font-family: "PalanquinDark-Regular";
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
}

.restaurantInfo h2 {
    font-family: "PalanquinDark-Regular";
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
}

/* ------------------------------------------ */



/* Category with Dishes: */
/* ------------------------------------------ */
.catBanner {
    height: 60px;
    position: relative;
}

.catIcon {
    width: 81px;
    height: 91px;

    position: absolute;
    bottom: -4px;
    left: 167px;
}

.catTitle {
    font-family: "Palanquin-Bold";
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 283px;
}

.catTitleWrapper {
    background-color: #E76C1F;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.bannerWrapper {
    position: relative;
}

.bannerBackground {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E76C1F;
    z-index: -1;
    margin-left: calc((100vw - 1440px) * -1);
    width: calc(100vw + calc((100vw - 1440px) / 2));
}

/* ------------------------------------------ */



/* Sticky Wrapper: */
/* ------------------------------------------ */
.stickyWrapper {
    display: flex;
    justify-content: space-between;
    min-height: fit-content;
    gap: 36px;

    margin-top: 64px;
}

/* ------------------------------------------ */



/* Dish: */
/* ------------------------------------------ */
.dishes {
    width: calc(100% - 435px);
    margin-top: 32px;
    margin-left: 120px;
}

.dish {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 16px;
    width: 720px;
    padding: 8px;
    border-radius: 12px;
    background-color: #FDEADC;
}

.dish>img {
    width: 200px;
    height: 120px;
    border-radius: 12px;

}

.dishTextWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 0px 8px;
}

.dishInteraction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.addBtn {
    height: 30px;
    width: 115px;
    border-radius: 20px;
    border: none;
    margin-bottom: 16px;
    background-color: #FFFFFF;

    font-family: "Palanquin-Regular";
    font-weight: 600;
    font-size: 16px;
}

.addBtn:hover {
    color: #E76C1F;
}

#deleteIconImg:active {
    src: "./assets/icons/buttons/delete_active.svg";
}

.addedBtn {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: none;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    color: #E76C1F;

    font-family: "Palanquin-Regular";
    font-weight: 600;
    font-size: 16px;
}

.dishInteraction>p {
    font-family: "Palanquin-Regular";
    font-size: 24px;
}

.dishText>h3 {
    font-family: "Palanquin-SemiBold";
    font-size: 24px;
    font-weight: 600;
}

.dishText>h4 {
    line-height: 1.2;
    font-family: "Palanquin-Regular";
    font-size: 16px;
    font-weight: 500;
}

/* ------------------------------------------ */



/* Footer: */
/* ------------------------------------------ */
.pageFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #E76C1F;
    height: 128px;
    width: 100%;
    margin-top: 128px;
    gap: 72px;
}

footer>a {
    color: white;
    text-decoration: none;
}

/* ------------------------------------------ */



/* Dialog: */
/* ------------------------------------------ */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 30px;
    height: 320px;
    width: 420px;

    color: #FDEADC;
    background-color: #363534;

    border: none;
    outline: none;
}

dialog h2 {
    font-family: "Palanquin-Bold";
    font-size: 42px;
    font-weight: 700;
    margin-bottom: -16px;
}

dialog h3 {
    font-family: "Palanquin-Bold";
    font-size: 30px;
    font-weight: 700;
}

dialog img {
    width: 80px;
    height: 57px;
}

.closeBtn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.closeBtn>img {
    width: 16px;
    height: 16px;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog[open]>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------ */