/* Restaurant Info: */
/* ------------------------------------------ */
.restaurantInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -32px;
}

.hero {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom center;
}

.heroFrame {
    height: 440px;
    width: 100%;
    overflow: hidden;
}

.restaurantLogo {
    width: 200px;
    height: 200px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 440px;
}

.restaurantTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
}

.titleHighlight {
    color: #E76C1F;
}

.restaurantInfo h1 {
    font-family: "PalanquinDark-Regular";
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
}

.restaurantInfo h2 {
    font-family: "PalanquinDark-Regular";
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
}

/* ------------------------------------------ */



/* Category with Dishes: */
/* ------------------------------------------ */
.catBanner {
    height: 60px;
    position: relative;
}

.catIcon {
    width: 81px;
    height: 91px;

    position: absolute;
    bottom: -4px;
    left: 167px;
}

.catTitle {
    font-family: "Palanquin-Bold";
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 283px;
}

.catTitleWrapper {
    background-color: #E76C1F;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.bannerWrapper {
    position: relative;
}

.bannerBackground {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E76C1F;
    z-index: -1;
    margin-left: calc((100vw - 1440px) * -1);
    width: calc(100vw + calc((100vw - 1440px) / 2));
}

/* ------------------------------------------ */



/* Sticky Wrapper: */
/* ------------------------------------------ */
.stickyWrapper {
    display: flex;
    justify-content: space-between;
    min-height: fit-content;
    gap: 36px;

    margin-top: 64px;
}
/* ------------------------------------------ */



/* Dish: */
/* ------------------------------------------ */
.dishes {
    width: calc(100% -435px);
    margin-top: 32px;
    margin-left: 120px;
}

.dish {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 16px;
    width: 720px;
    padding: 8px;
    border-radius: 12px;
    background-color: #FDEADC;
}

.dish>img {
    width: 200px;
    height: 120px;
    border-radius: 12px;

}

.dishTextWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 0px 8px;
}

.dishInteraction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.addBtn {
    height: 30px;
    width: 115px;
    border-radius: 20px;
    border: none;
    margin-bottom: 16px;
    background-color: #FFFFFF;

    font-family: "Palanquin-Regular";
    font-weight: 600;
    font-size: 16px;
}

.addedBtn {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: none;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    color: #E76C1F;

    font-family: "Palanquin-Regular";
    font-weight: 600;
    font-size: 16px;
}

.dishInteraction>p {
    font-family: "Palanquin-Regular";
    font-size: 24px;
}

.dishText>h3 {
    font-family: "Palanquin-SemiBold";
    font-size: 24px;
    font-weight: 600;
}

.dishText>h4 {
    line-height: 1.2;
    font-family: "Palanquin-Regular";
    font-size: 16px;
    font-weight: 500;
}

/* ------------------------------------------ */



/* Footer: */
/* ------------------------------------------ */
.pageFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #E76C1F;
    height: 128px;
    width: 100%;
    margin-top: 128px;
    gap: 72px;
}

footer>a {
    color: white;
    text-decoration: none;
}

/* ------------------------------------------ */



/* Basket: */
/* ------------------------------------------ */
.basket {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 435px;
    height: 800px;
    background-color: #363534;
    color: #FDEADC;

    position: sticky;
    top: 0px;
    margin-top: 64px;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.basket h2{
    Color: #FDEADC;
    font-family: "Palanquin-Bold";
    font-size: 32px;
    margin-top: 56px;
    margin-bottom: 24px;
}

.addedDish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: #FDEADC;
    color: black;
    border-radius: 20px;
    width: 340px;
    min-height: fit-content;
    padding-left: 16px;

    font-size: 22px;
    gap: 8px;
}

.addedDish>p {
    padding-top: 16px;
    padding-right: 16px;
    line-height: 1.2;

    font-weight: 700;
}

.rowWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-right: 16px;
    padding-bottom: 12px;
}

.addedDish img {
    width: 24px;
    height: 24px;
}

.addedDish button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #FDEADC;
    font-size: 24px;
    width: 24px;
    height: 24px;
    border: none;
}

.addRemoveBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: #FDEADC;
    width: 56px;
}

.addedDishWrapper {
    display: flex;
    height: 380px;
    gap: 16px;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #E7C3AD #363534;
}
.priceWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 200px;
    width: 100%;
}
.summaryLine {
    border: none;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 999px;
    margin: 12px 0px;
}

.basketWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
.buyNowBtn{
    background-color: #E76C1F;
    height: 64px;
    width: 320px;
    border-radius: 60px;
    color: white; 

    font-family: "Palanquin-Bold";
    font-size: 32px;

    margin-top: 16px;
}
.subtitleRow, .deliveryFeeRow, .totalRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* ------------------------------------------ */
